Repository ertrzyiks/tricity-hiking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

Update a bit transportation page
  src/pages/transportation.astro
Due: none

Add admonition
  src/components/Admonition.astro
  src/pages/transportation.astro
Due: none

Add current position marker
  package.json
  pnpm-lock.yaml
  src/assets/places/marker.png
  src/atoms/routePoints.ts
  src/components/FullElevationChart/FullElevationChart.tsx
  src/components/RouteMap/RouteMap.tsx
Due: prettier --write, vitest related --run

Fix build
  src/components/Admonition.astro
Due: none

Fix interactivity of the route page
  src/assets/places/marker.png
  src/components/FullElevationChart/FullElevationChart.tsx
  src/components/RouteMap/RouteMap.tsx
Due: prettier --write, vitest related --run

Update marker
  src/assets/places/marker.png
  src/components/RouteMap/RouteMap.tsx
Due: prettier --write, vitest related --run

Update chart marker from atom
  src/components/FullElevationChart/FullElevationChart.tsx
Due: prettier --write, vitest related --run

Refactor Route map
  src/components/RouteMap/RouteMap.tsx
  src/components/RouteMap/createMap.ts
  src/components/RouteMap/routePointHighlighter.ts
Due: prettier --write, vitest related --run

Clean up map
  src/components/RouteMap/createMap.ts
Due: prettier --write, vitest related --run

Improve route title placement
  src/components/Markdown/Heading.tsx
  src/pages/routes/[route].astro
Due: prettier --write, vitest related --run

Improve highlighting
  src/components/ElevationChart/ElevationChart.tsx
  src/components/FullElevationChart/FullElevationChart.tsx
Due: prettier --write, vitest related --run

Add park kolibki gpx
  src/assets/routes/park-kolibki.jpg
  src/components/RouteMap/RouteMap.tsx
  src/content/config.ts
  src/content/geodata/park-kolibki.json
  src/content/geodata/wawoz-huzarow.json
  src/content/routes/park-kolibki.gpx
  src/content/routes/park-kolibki.mdx
  src/pages/extended.astro
  src/pages/index.astro
  src/pages/list.astro
  src/pages/routes.astro
  src/pages/routes/[route].astro
Due: prettier --write, vitest related --run

Expand on transportatiojn
  src/components/Link.astro
  src/pages/transportation.astro
Due: none

Add missing padding
  src/pages/transportation.astro
Due: none

Update astro content collection usage
  src/components/ListCardItem/Route.astro
  src/content.config.ts
  src/pages/routes/[route].astro
Due: prettier --write, vitest related --run

Fix build
  src/pages/preview/[route].astro
Due: none

Merge route info into a single folder
  scripts/capture-route-preview.js
  scripts/gpx-to-json.js
  src/content.config.ts
  src/content/routes/dolina-elfow/dolina-elfow.gpx
  src/content/routes/dolina-elfow/dolina-elfow.jpg
  src/content/routes/dolina-elfow/dolina-elfow.mdx
  src/content/routes/dolina-radosci/dolina-radosci.gpx
  src/content/routes/dolina-radosci/dolina-radosci.jpg
  src/content/routes/dolina-radosci/dolina-radosci.mdx
  src/content/routes/dolina-strzyzy/dolina-strzyzy.gpx
  src/content/routes/dolina-strzyzy/dolina-strzyzy.jpg
  src/content/routes/dolina-strzyzy/dolina-strzyzy.mdx
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.gpx
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.jpg
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.mdx
  src/content/routes/gora-markowca/gora-markowca.gpx
  src/content/routes/gora-markowca/gora-markowca.jpg
  src/content/routes/gora-markowca/gora-markowca.mdx
  src/content/routes/lesnik-opera/lesnik-opera.gpx
  src/content/routes/lesnik-opera/lesnik-opera.jpg
  src/content/routes/lesnik-opera/lesnik-opera.mdx
  src/content/routes/orlowo-bulwar/orlowo-bulwar.gpx
  src/content/routes/orlowo-bulwar/orlowo-bulwar.jpg
  src/content/routes/orlowo-bulwar/orlowo-bulwar.mdx
  src/content/routes/park-kolibki/park-kolibki.gpx
  src/content/routes/park-kolibki/park-kolibki.jpg
  src/content/routes/park-kolibki/park-kolibki.mdx
  src/content/routes/samborowo-glowica/samborowo-glowica.gpx
  src/content/routes/samborowo-glowica/samborowo-glowica.jpg
  src/content/routes/samborowo-glowica/samborowo-glowica.mdx
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.gpx
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.jpg
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.mdx
  src/content/routes/wawoz-huzarow/wawoz-huzarow.gpx
  src/content/routes/wawoz-huzarow/wawoz-huzarow.jpg
  src/content/routes/wawoz-huzarow/wawoz-huzarow.mdx
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.gpx
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.jpg
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.mdx
Due: prettier --write, vitest related --run

Generate gpx files
  src/content/routes/dolina-elfow/dolina-elfow.gpx
  src/pages/routes/[route].gpx.ts
Due: prettier --write, vitest related --run

Improve hero unit
  package.json
  pnpm-lock.yaml
  src/assets/deco.svg
  src/components/Hero.astro
  src/pages/index.astro
Due: none

Improve homepage
  src/pages/index.astro
Due: none

Fix build
  vitest.config.ts
Due: vitest related --run

Add a map
  src/assets/tricity.svg
  src/pages/index.astro
Due: none

Fix spacing on mobile
  src/pages/index.astro
Due: none

Cards on homepage
  src/pages/index.astro
Due: none

Move json content to routes folder
  package.json
  scripts/gpx-to-json.js
  src/content.config.ts
  src/content/routes/dolina-elfow/dolina-elfow.json
  src/content/routes/dolina-radosci/dolina-radosci.json
  src/content/routes/dolina-strzyzy/dolina-strzyzy.json
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.json
  src/content/routes/gora-markowca/gora-markowca.json
  src/content/routes/lesnik-opera/lesnik-opera.json
  src/content/routes/orlowo-bulwar/orlowo-bulwar.json
  src/content/routes/park-kolibki/park-kolibki.json
  src/content/routes/samborowo-glowica/samborowo-glowica.json
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.json
  src/content/routes/wawoz-huzarow/wawoz-huzarow.json
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.json
  src/pages/index.astro
Due: prettier --write, vitest related --run

Move activities to a proper content collection
  src/content.config.ts
  src/content/activities.json
  src/content/activities.ts
  src/pages/activities.astro
Due: prettier --write, vitest related --run

Update description
  src/layouts/Layout.astro
Due: none

Improve description of the route pages
  src/content.config.ts
  src/content/routes/dolina-elfow/dolina-elfow.mdx
  src/pages/routes/[route].astro
Due: prettier --write, vitest related --run

Add top sights
  src/content/activities.json
  src/pages/activities.astro
Due: prettier --write

Remove the
  src/content/activities.json
Due: prettier --write

Add 404 page
  src/pages/404.astro
Due: none

Remove unused code from 404
  src/pages/404.astro
Due: none

Update featured routes
  src/content.config.ts
  src/content/drafts/SKM-przystanki.gpx
  src/content/drafts/SKM-trasa.gpx
  src/content/drafts/zaspa.gpx
  src/content/routes/lesnik-opera/lesnik-opera.mdx
  src/content/routes/orlowo-bulwar/orlowo-bulwar.mdx
  src/content/routes/samborowo-glowica/samborowo-glowica.mdx
  src/pages/index.astro
Due: prettier --write, vitest related --run

Defer image loading
  src/components/HomeMap/HomeMap.tsx
  src/components/RouteMap/RouteMap.tsx
  src/components/RouteMap/loadImageToMap.ts
  src/components/RouteMap/routePointHighlighter.ts
Due: prettier --write, vitest related --run

Add SKM map
  package.json
  scripts/gpx-to-json.js
  src/components/RouteMap/RouteMap.tsx
  src/components/RouteMap/createMap.ts
  src/components/TransportationMap/TransportationMap.tsx
  src/content.config.ts
  src/content/transportation/skm-main-stops.gpx
  src/content/transportation/skm-main-stops.json
  src/content/transportation/skm-main.gpx
  src/content/transportation/skm-main.json
  src/pages/transportation.astro
Due: prettier --write, vitest related --run

Add stops
  scripts/gpx-to-json.js
  src/assets/places/skm_stop.png
  src/components/HomeMap/mapStyle.ts
  src/components/RouteMap/createMap.ts
  src/components/TransportationMap/TransportationMap.tsx
  src/content/transportation/skm-main-stops.gpx
  src/content/transportation/skm-main-stops.json
Due: prettier --write, vitest related --run

Fix label overlap
  src/components/TransportationMap/TransportationMap.tsx
Due: prettier --write, vitest related --run

Add PKM schema
  src/components/TransportationMap/TransportationMap.tsx
  src/content/transportation/pkm-main-stops.gpx
  src/content/transportation/pkm-main-stops.json
  src/content/transportation/pkm-main.gpx
  src/content/transportation/pkm-main.json
  src/pages/transportation.astro
Due: prettier --write, vitest related --run

Fix spacing
  src/components/TransportationMap/TransportationMap.tsx
  src/pages/transportation.astro
Due: prettier --write, vitest related --run

Enabled collaborative gestures
  src/components/RouteMap/createMap.ts
Due: prettier --write, vitest related --run

Path conditions:
  prettier --write: any of: */**/*.{js,jsx,ts,tsx,json}
  vitest related --run: any of: *.{js,jsx,ts,tsx}
