Repository ertrzyiks/tricity-hiking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*/**/*.{js,jsx,ts,tsx,json}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "vitest related --run"
}

Add a couple of photos
  src/assets/photos/dolina-radosci-wejscie.jpg
  src/assets/photos/hipodrom.jpg
  src/assets/photos/klesza-droga.jpg
  src/assets/photos/parkowa-budynek.jpg
  src/assets/photos/parkowa.jpg
  src/assets/photos/sopot-uzdrowisko.jpg
  src/content/routes/dolina-radosci/dolina-radosci.mdx
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.mdx
Due: none

Update Sobieszewo
  src/content/drafts/wyspa-sobieszewska.gpx
  src/content/routes/sobieszewo/sobieszewo.gpx
  src/content/routes/sobieszewo/sobieszewo.jpg
  src/content/routes/sobieszewo/sobieszewo.json
Due: prettier --write

Make list item more responsive
  src/components/ui/ListCardItem.astro
Due: none

Make allow the primary action
  src/components/ui/CookieConsent/CookieConsentConfig.ts
Due: prettier --write, vitest related --run

Add photos
  src/assets/photos/droga-marnych-mostow-2.jpg
  src/assets/photos/droga-marnych-mostow-3.jpg
  src/assets/photos/droga-marnych-mostow.jpg
  src/assets/photos/wzgorze-eli.jpg
Due: none

Update maps line
  src/components/ui/HomeMap/HomeMap.tsx
  src/components/ui/RouteMap/RouteMap.tsx
Due: prettier --write, vitest related --run

Separate map page
  src/pages/routes/[route].astro
  src/pages/routes/[route]/map.astro
Due: none

Update previews
  scripts/capture-route-preview.js
  src/components/ui/PreviewRouteMap/PreviewRouteMap.tsx
  src/content/routes/dolina-elfow/dolina-elfow.jpg
  src/content/routes/dolina-radosci/dolina-radosci.jpg
  src/content/routes/dolina-strzyzy/dolina-strzyzy.jpg
  src/content/routes/droga-marnych-mostow/droga-marnych-mostow.jpg
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.jpg
  src/content/routes/gora-markowca/gora-markowca.jpg
  src/content/routes/lesnik-opera/lesnik-opera.jpg
  src/content/routes/orlowo-bulwar/orlowo-bulwar.jpg
  src/content/routes/park-kolibki/park-kolibki.jpg
  src/content/routes/samborowo-glowica/samborowo-glowica.jpg
  src/content/routes/sobieszewo/sobieszewo.jpg
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.jpg
  src/content/routes/wawoz-huzarow/wawoz-huzarow.jpg
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.jpg
  src/content/routes/zaspa/zaspa.jpg
Due: prettier --write, vitest related --run

Update renovate json
  renovate.json
Due: none

Approve builds
  package.json
Due: none

Add Zaspa
  src/content/drafts/zaspa.gpx
  src/content/routes/zaspa/zaspa.mdx
Due: none

Update node.js
  .github/workflows/ci.yml
  .nvmrc
  package.json
  pnpm-workspace.yaml
Due: none

Bind Astro dev server to all interfaces
  astro.config.mjs
Due: none

Bump @astrojs/mdx and @astrojs/preact to match astro v7, fix zod v4 record() call
  package.json
  pnpm-lock.yaml
  src/content.config.ts
Due: prettier --write, vitest related --run

Add clear-renovate-prs skill
  .claude/skills/clear-renovate-prs/SKILL.md
Due: none

Ignore other local skills, keep only clear-renovate-prs tracked
  .gitignore
Due: none

Add clear-renovate-prs skill (#191)
  .claude/skills/clear-renovate-prs/SKILL.md
  .gitignore
Due: none

Align Renovate and pnpm on a 30-day minimum release age
  pnpm-workspace.yaml
  renovate.json
Due: none

Align Renovate and pnpm on a 30-day minimum release age (#192)
  pnpm-workspace.yaml
  renovate.json
Due: none

Remove minimumReleaseAge grandfathering once packages have matured
  pnpm-workspace.yaml
Due: none

Add discover page: swipeable card deck for browsing routes
  src/components/ui/CardDeck/CardDeck.tsx
  src/components/ui/CardDeck/types.ts
  src/pages/discover.astro
  src/services/cardDeck.test.ts
  src/services/cardDeck.ts
Due: prettier --write, vitest related --run

Address code review: back-button support, reuse Button component
  src/components/ui/CardDeck/CardDeck.tsx
Due: prettier --write, vitest related --run

Prototype: single continuous scroll homepage (issue #3)
  src/components/ui/AnchorNav/AnchorNav.tsx
  src/data/foodPlaces.ts
  src/data/historyTimeline.ts
  src/pages/food.astro
  src/pages/history.astro
  src/pages/index.astro
Due: prettier --write, vitest related --run

Add persistent sidebar app shell prototype (ticket 02)
  src/components/ui/AppRail/AppRail.astro
  src/components/ui/SidebarLink.astro
  src/layouts/Layout.astro
  src/styles/base.css
Due: none

Implement bottom tab-bar app shell (prototype #1)
  src/components/ui/HomeMap/HomeMap.tsx
  src/components/ui/NavLink.astro
  src/components/ui/SidebarSwitch/SidebarSwitch.tsx
  src/components/ui/TabBar/TabBar.astro
  src/layouts/Layout.astro
  src/pages/extended.astro
  src/pages/routes.astro
  src/pages/routes/[route].astro
  src/styles/base.css
Due: prettier --write, vitest related --run

Prototype command-palette-first navigation (issue #5)
  src/components/ui/CommandPalette/CommandPalette.tsx
  src/components/ui/CommandPalette/Icon.tsx
  src/content/food.json
  src/layouts/Layout.astro
  src/pages/food.astro
  src/pages/search-index.json.ts
  src/services/searchIndex.test.ts
  src/services/searchIndex.ts
Due: prettier --write, vitest related --run

Fold in code-review findings
  src/components/ui/AnchorNav/AnchorNav.tsx
  src/components/ui/AnchorNav/AnchorSection.astro
  src/data/historyTimeline.ts
  src/pages/history.astro
  src/pages/index.astro
Due: prettier --write, vitest related --run

Address code review: a11y, dead code, CSS duplication
  src/components/ui/AppRail/AppRail.astro
  src/components/ui/NavLink.astro
  src/components/ui/SidebarLink.astro
  src/styles/base.css
Due: none

Address code review: dedupe TabBar markup, share tab-bar-height token
  src/components/ui/HomeMap/HomeMap.tsx
  src/components/ui/TabBar/MoreMenu.astro
  src/components/ui/TabBar/TabBar.astro
  src/components/ui/TabBar/TabBarLink.astro
  src/layouts/Layout.astro
  src/pages/extended.astro
  src/pages/routes.astro
  src/styles/base.css
Due: prettier --write, vitest related --run

Address code-review findings for the command palette prototype
  src/components/ui/CommandPalette/CommandPalette.tsx
  src/components/ui/NavLink.astro
  src/components/ui/SidebarSwitch/SidebarSwitch.tsx
  src/layouts/Layout.astro
  src/services/searchIndex.test.ts
  src/services/searchIndex.ts
  src/styles/base.css
Due: prettier --write, vitest related --run

Prototype: dark "outdoor gear app" visual skin (issue 06)
  src/atoms/theme.test.ts
  src/atoms/theme.ts
  src/components/ui/ActivitiesList/GroupHeader/GroupHeader.astro
  src/components/ui/Admonition.astro
  src/components/ui/Button/Button.tsx
  src/components/ui/ElevationChart/ElevationChart.tsx
  src/components/ui/FullElevationChart/FullElevationChart.tsx
  src/components/ui/Hero.astro
  src/components/ui/HomeMap/HomeMap.tsx
  src/components/ui/HomeMap/getMapStyle.ts
  src/components/ui/HomeMap/mapStyle.dark.ts
  src/components/ui/ListCardItem.astro
  src/components/ui/ListCardItem/Activity.astro
  src/components/ui/ListCardItem/Food.astro
  src/components/ui/ListCardItem/Route.astro
  src/components/ui/ListCardItemAttribute.astro
  src/components/ui/NavLink.astro
  src/components/ui/RouteMapLegend.astro
  src/components/ui/Tabs/Tab.astro
  src/components/ui/ThemeToggle/ThemeToggle.tsx
  src/components/ui/Timeline/TimelineConnector.astro
  src/components/ui/Timeline/TimelineContentLabel.astro
  src/components/ui/Timeline/TimelineDot.astro
  src/components/ui/Timeline/TimelineOppositeContentSecondary.astro
  src/components/ui/TrailAttributeName/TrailAttributeName.tsx
  src/components/ui/TrailAttributeValue/TrailAttributeValue.tsx
  src/layouts/Layout.astro
  src/pages/blog/[slug].astro
  src/pages/index.astro
  src/pages/routes.astro
  src/pages/routes/[route].astro
  src/pages/routes/[route]/map.astro
  src/pages/transportation.astro
  src/services/createMap.ts
  src/styles/base.css
Due: prettier --write, vitest related --run

Prototype: kiosk/big-screen info-board layout (issue #8)
  src/components/ui/KioskCarousel/KioskCarousel.tsx
  src/components/ui/KioskCarousel/types.ts
  src/layouts/KioskLayout.astro
  src/pages/kiosk.astro
  src/services/firstTwoSentences.test.ts
  src/services/firstTwoSentences.ts
  src/services/kiosk.test.ts
  src/services/kiosk.ts
Due: prettier --write, vitest related --run

Prototype: magazine/editorial route layout (issue 07)
  src/components/markdown/Heading2Editorial.tsx
  src/components/markdown/PullQuote.tsx
  src/components/markdown/createEditorialMarkdownComponents.test.tsx
  src/components/markdown/createEditorialMarkdownComponents.tsx
  src/components/ui/ListCardItem/RouteEditorial.astro
  src/content.config.ts
  src/layouts/Layout.astro
  src/pages/list.astro
  src/pages/nearby.astro
  src/pages/routes/[route].astro
  src/services/getPullQuotes.test.ts
  src/services/getPullQuotes.ts
  src/styles/base.css
Due: prettier --write, vitest related --run

Address code-review findings for the kiosk prototype
  src/components/ui/KioskCarousel/KioskCarousel.tsx
  src/pages/kiosk.astro
  src/services/kiosk.ts
Due: prettier --write, vitest related --run

Add 5 navigation prototype variants for /routes
  src/components/prototypes/RoutesPrototypeDetailPanel.astro
  src/components/prototypes/RoutesPrototypeListItem.astro
  src/components/prototypes/RoutesPrototypeListPanel.astro
  src/components/prototypes/RoutesPrototypeMapPanel.astro
  src/config/routesPrototypeNav.ts
  src/layouts/PrototypeLayout.astro
  src/pages/routes-nav-prototypes.astro
  src/pages/routes1.astro
  src/pages/routes2.astro
  src/pages/routes3.astro
  src/pages/routes4.astro
  src/pages/routes5.astro
  src/scripts/routesPrototypeNav.client.ts
  src/services/getRoutesPrototypeData.ts
Due: prettier --write, vitest related --run

Fix code-review findings on routes nav prototypes
  src/pages/routes4.astro
  src/scripts/routesPrototypeNav.client.ts
Due: prettier --write, vitest related --run

Press Escape on map view to navigate back to route (#142)
  src/pages/routes/[route]/map.astro
Due: none

Replace Nearby page with a dedicated Day trips list
  src/components/ui/Homepage.astro
  src/pages/day-trips.astro
  src/pages/routes.astro
Due: none

Move Day trips to the top-level nav, out of Routes sub-nav
  src/components/ui/Homepage.astro
  src/layouts/Layout.astro
  src/pages/day-trips.astro
Due: none

Remove the extended map route and all links to it
  src/components/ui/Homepage.astro
  src/layouts/Layout.astro
  src/pages/extended.astro
  src/pages/routes.astro
Due: none
