Repository ertrzyiks/tricity-hiking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*/**/*.{js,jsx,ts,tsx,json}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "vitest related --run"
}

Unify names
  src/content/routes/dolina-elfow/dolina-elfow.json
  src/content/routes/dolina-elfow/dolina-elfow.mdx
  src/content/routes/dolina-radosci/dolina-radosci.json
  src/content/routes/dolina-radosci/dolina-radosci.mdx
  src/content/routes/dolina-strzyzy/dolina-strzyzy.json
  src/content/routes/dolina-strzyzy/dolina-strzyzy.mdx
  src/content/routes/wawoz-huzarow/wawoz-huzarow.json
  src/content/routes/wawoz-huzarow/wawoz-huzarow.mdx
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.json
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.mdx
Due: prettier --write

Fix failing test
  scripts/get-route-stats.spec.ts
Due: prettier --write, vitest related --run

Update content
  src/content/activities.json
Due: prettier --write

Use create map helper for transportation map
  src/components/Analytics.astro
  src/components/RouteMap/RouteMap.tsx
  src/components/TransportationMap/TransportationMap.tsx
  src/env.d.ts
  src/services/analytics.ts
  src/services/createMap.ts
  tsconfig.json
Due: prettier --write, vitest related --run

Add events
  src/components/HomeMap/HomeMap.tsx
  src/services/analytics.ts
Due: prettier --write, vitest related --run

Refactor activities list
  src/components/ActivitiesList/ActivityList.astro
  src/components/ActivitiesList/GroupHeader/GroupHeader.astro
  src/components/ActivitiesList/content.ts
  src/components/ActivitiesList/ranks.ts
  src/components/ListCardItem/Activity.astro
  src/pages/activities.astro
Due: prettier --write, vitest related --run

Fix the line
  src/services/routeMarkers.ts
Due: prettier --write, vitest related --run

Add timeline
  package.json
  pnpm-lock.yaml
  src/components/Timeline/Timeline.astro
  src/components/Timeline/TimelineConnector.astro
  src/components/Timeline/TimelineContent.astro
  src/components/Timeline/TimelineDot.astro
  src/components/Timeline/TimelineItem.astro
  src/components/Timeline/TimelineOppositeContent.astro
  src/components/Timeline/TimelineSeparator.astro
  src/pages/timeline.astro
Due: none

Update timeline
  src/components/Timeline/TimelineConnector.astro
  src/components/Timeline/TimelineContent.astro
  src/components/Timeline/TimelineDot.astro
  src/components/Timeline/TimelineItem.astro
  src/components/Timeline/TimelineOppositeContent.astro
  src/pages/activities.astro
  src/pages/timeline.astro
Due: none

Improve spacing and add CTA
  src/components/Hero.astro
  src/components/ListCardItem.astro
  src/layouts/Layout.astro
  src/pages/index.astro
  src/pages/transportation.astro
Due: none

Update timeline icons
  src/components/Timeline/TimelineDot.astro
  src/pages/history.astro
Due: none

Add timeline description
  src/components/Timeline/TimelineContent.astro
  src/components/Timeline/TimelineContentLabel.astro
  src/components/Timeline/TimelineDot.astro
  src/components/Timeline/TimelineOppositeContent.astro
  src/components/Timeline/TimelineOppositeContentSecondary.astro
  src/pages/history.astro
Due: none

Fix the icon
  src/components/HomeMap/HomeMap.tsx
  src/components/RouteMapLegend.astro
  src/services/routeMarkers.ts
Due: prettier --write, vitest related --run

Update timeline
  src/pages/history.astro
Due: none

Update timeline 3
  src/pages/history.astro
Due: none

Add a couple of photos
  .gitattributes
  src/assets/photos/lysa-gora.jpg
  src/assets/photos/wielka-gwiazda.jpg
  src/assets/photos/wzniesienie-strzeleckie.jpg
  src/content/routes/lesnik-opera/lesnik-opera.mdx
Due: none

Fix ci.yml
  .github/workflows/ci.yml
Due: none

Fix local lfs setup
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-push
  README.md
Due: none

add subtle margin
  src/components/ArticleImage.astro
Due: none

Unlock scrolling on chart
  astro.config.mjs
  src/components/FullElevationChart/FullElevationChart.tsx
Due: prettier --write, vitest related --run

Add more details to timeline
  src/pages/history.astro
Due: none

Add more photos
  src/assets/photos/dolina-samborowo.jpg
  src/content/routes/lesnik-opera/lesnik-opera.mdx
  src/content/routes/samborowo-glowica/samborowo-glowica.mdx
Due: none

Adjust stylin
  src/components/Homepage.astro
  src/components/Tabs/Tab.astro
  src/components/Tabs/Tabs.astro
  src/pages/routes.astro
Due: none

Update tabs
  src/components/Homepage.astro
  src/components/Tabs/Tab.astro
  src/components/Tabs/Tabs.astro
Due: none

Fix mobile menu
  src/layouts/Layout.astro
  src/styles/base.css
Due: none

Split route list
  src/components/Homepage.astro
  src/components/Tabs/Tab.astro
  src/pages/nearby.astro
  src/pages/routes.astro
Due: none

Fix
  src/components/Tabs/Tab.astro
  src/components/Tabs/Tabs.astro
Due: none

Improve tabs
  src/components/Tabs/Tab.astro
Due: none

Update titles
  src/pages/404.astro
  src/pages/activities.astro
  src/pages/extended.astro
  src/pages/food.astro
  src/pages/history.astro
  src/pages/index.astro
  src/pages/list.astro
  src/pages/nearby.astro
  src/pages/routes.astro
  src/pages/routes/[route].astro
  src/pages/transportation.astro
Due: none

Update blog content
  src/components/markdown/Headings.tsx
  src/components/markdown/Link.tsx
  src/components/markdown/List.tsx
  src/components/markdown/Mark.tsx
  src/components/markdown/Paragraph.tsx
  src/components/markdown/index.ts
  src/components/ui/ActivitiesList/GroupHeader/GroupHeader.astro
  src/components/ui/Markdown/Heading.tsx
  src/components/ui/Markdown/index.ts
  src/content/blog/the-best-hiking-trails-near-gdansk.mdx
  src/content/routes/dolina-elfow/dolina-elfow.mdx
  src/content/routes/dolina-radosci/dolina-radosci.mdx
  src/content/routes/dolina-strzyzy/dolina-strzyzy.mdx
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.mdx
  src/content/routes/gora-markowca/gora-markowca.mdx
  src/content/routes/lesnik-opera/lesnik-opera.mdx
  src/content/routes/orlowo-bulwar/orlowo-bulwar.mdx
  src/content/routes/park-kolibki/park-kolibki.mdx
  src/content/routes/samborowo-glowica/samborowo-glowica.mdx
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.mdx
  src/content/routes/wawoz-huzarow/wawoz-huzarow.mdx
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.mdx
  src/pages/blog/[slug].astro
  src/pages/history.astro
  src/pages/routes/[route].astro
  src/pages/transportation.astro
Due: prettier --write, vitest related --run

Update post
  src/content/blog/the-best-hiking-trails-near-gdansk.mdx
Due: none

Apply suggestion from @Copilot
  src/content/blog/the-best-hiking-trails-near-gdansk.mdx
Due: none

Update blog post
  src/content/blog/the-best-hiking-trails-near-gdansk.mdx
Due: none

Add more drafts
  src/content/drafts/droga-marnych-mostow.gpx
  src/content/drafts/wyspa-sobieszewska.gpx
  src/content/drafts/zaspa.gpx
Due: none

Generate drafts
  scripts/draft-to-route.js
  src/content/routes/droga-marnych-mostow/droga-marnych-mostow.gpx
  src/content/routes/droga-marnych-mostow/droga-marnych-mostow.json
  src/content/routes/droga-marnych-mostow/droga-marnych-mostow.mdx
  src/content/routes/wyspa-sobieszewska/wyspa-sobieszewska.gpx
  src/content/routes/wyspa-sobieszewska/wyspa-sobieszewska.json
  src/content/routes/wyspa-sobieszewska/wyspa-sobieszewska.mdx
  src/content/routes/zaspa/zaspa.gpx
  src/content/routes/zaspa/zaspa.json
  src/content/routes/zaspa/zaspa.mdx
Due: prettier --write, vitest related --run

Fix tests
  .github/copilot-instructions.md
  scripts/draft-to-route.js
  scripts/draft-to-route.spec.ts
Due: prettier --write, vitest related --run

Add sobieszewo
  src/assets/photos/plaza-sobieszewo.jpg
  src/assets/photos/sobieszewo-las.jpg
  src/assets/photos/zbiornik-kazimierz.jpg
  src/content/routes/droga-marnych-mostow/droga-marnych-mostow.jpg
  src/content/routes/sobieszewo/sobieszewo.gpx
  src/content/routes/sobieszewo/sobieszewo.jpg
  src/content/routes/sobieszewo/sobieszewo.json
  src/content/routes/sobieszewo/sobieszewo.mdx
  src/content/routes/wyspa-sobieszewska/wyspa-sobieszewska.mdx
  src/content/routes/zaspa/zaspa.jpg
Due: prettier --write
