Repository ertrzyiks/tricity-hiking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*/**/*.{js,jsx,ts,tsx,json}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "vitest related --run"
}

Migrate the synthetic check from GH Actions + Sentry Crons to Checkly (#256)
  .github/workflows/checkly-deploy.yml
  .github/workflows/synthetic-check.yml
  .gitignore
  README.md
  __checks__/homepage.spec.ts
  __checks__/route-page.spec.ts
  checkly.config.ts
  package.json
  pnpm-lock.yaml
  scripts/run-synthetic-check.js
  scripts/synthetic-check.js
  vitest.config.ts
Due: prettier --write, vitest related --run

Point the homepage Checkly check at /routes, which has the map
  __checks__/homepage.spec.ts
  __checks__/routes-page.spec.ts
Due: prettier --write, vitest related --run

Point the homepage Checkly check at /routes, which has the map (#259)
  __checks__/homepage.spec.ts
  __checks__/routes-page.spec.ts
Due: prettier --write, vitest related --run

Add descriptions to Gdańsk history events (1871, 1918, 1920)
  src/pages/history/index.astro
Due: none

Add descriptions to Gdańsk history events (1871, 1918, 1920) (#266)
  src/pages/history/index.astro
Due: none

Add "Continue Reading" article recommendations to blog posts
  src/components/RelatedArticles.astro
  src/pages/blog/[slug].astro
  src/services/getRelatedArticles.test.ts
  src/services/getRelatedArticles.ts
Due: prettier --write, vitest related --run

Add "Continue Reading" article recommendations to blog posts (#272)
  src/components/RelatedArticles.astro
  src/pages/blog/[slug].astro
  src/services/getRelatedArticles.test.ts
  src/services/getRelatedArticles.ts
Due: prettier --write, vitest related --run

Change trail gradient direction to run across line width, not length
  src/components/ui/HomeMap/HomeMap.tsx
  src/components/ui/PreviewRouteMap/PreviewRouteMap.tsx
  src/constants/colors.ts
  src/services/lineWidthGradientBands.test.ts
  src/services/lineWidthGradientBands.ts
  src/services/orientLineStringsWestToEast.test.ts
  src/services/orientLineStringsWestToEast.ts
Due: prettier --write, vitest related --run

Apply the width-gradient trail line to the route details map too
  src/components/ui/HomeMap/HomeMap.tsx
  src/components/ui/PreviewRouteMap/PreviewRouteMap.tsx
  src/components/ui/RouteMap/RouteMap.tsx
  src/constants/colors.ts
Due: prettier --write, vitest related --run

Harden the route preview capture script, regenerate previews
  astro.config.mjs
  package.json
  scripts/capture-route-preview.js
  src/content/routes/dolina-elfow/dolina-elfow.jpg
  src/content/routes/dolina-radosci/dolina-radosci.jpg
  src/content/routes/dolina-strzyzy/dolina-strzyzy.jpg
  src/content/routes/droga-marnych-mostow/droga-marnych-mostow.jpg
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.jpg
  src/content/routes/gora-markowca/gora-markowca.jpg
  src/content/routes/lesnik-opera/lesnik-opera.jpg
  src/content/routes/orlowo-bulwar/orlowo-bulwar.jpg
  src/content/routes/park-kolibki/park-kolibki.jpg
  src/content/routes/samborowo-glowica/samborowo-glowica.jpg
  src/content/routes/sobieszewo/sobieszewo.jpg
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.jpg
  src/content/routes/wawoz-huzarow/wawoz-huzarow.jpg
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.jpg
  src/content/routes/zaspa/zaspa.jpg
Due: prettier --write, vitest related --run

Make capture:preview build once instead of running astro dev
  .claude/settings.json
  astro.config.mjs
  package.json
Due: prettier --write

worktree remove food entries (#249)
  .claude/settings.json
  astro.config.mjs
  package.json
  scripts/capture-route-preview.js
  src/components/ui/HomeMap/HomeMap.tsx
  src/components/ui/PreviewRouteMap/PreviewRouteMap.tsx
  src/components/ui/RouteMap/RouteMap.tsx
  src/constants/colors.ts
  src/content/routes/dolina-elfow/dolina-elfow.jpg
  src/content/routes/dolina-radosci/dolina-radosci.jpg
  src/content/routes/dolina-strzyzy/dolina-strzyzy.jpg
  src/content/routes/droga-marnych-mostow/droga-marnych-mostow.jpg
  src/content/routes/elblag-bazantarnia-parasol/elblag-bazantarnia-parasol.jpg
  src/content/routes/gora-markowca/gora-markowca.jpg
  src/content/routes/lesnik-opera/lesnik-opera.jpg
  src/content/routes/orlowo-bulwar/orlowo-bulwar.jpg
  src/content/routes/park-kolibki/park-kolibki.jpg
  src/content/routes/samborowo-glowica/samborowo-glowica.jpg
  src/content/routes/sobieszewo/sobieszewo.jpg
  src/content/routes/sopot-wyscigi-to-kamienny-potok/sopot-wyscigi-to-kamienny-potok.jpg
  src/content/routes/wawoz-huzarow/wawoz-huzarow.jpg
  src/content/routes/wejherowo-kalwaria/wejherowo-kalwaria.jpg
  src/content/routes/zaspa/zaspa.jpg
  src/services/lineWidthGradientBands.test.ts
  src/services/lineWidthGradientBands.ts
Due: prettier --write, vitest related --run

CI: skip real LFS photos on PR builds unless branch starts with lfs-
  .github/workflows/ci.yml
  scripts/replace-lfs-photo-placeholders.js
  scripts/replace-lfs-photo-placeholders.spec.ts
Due: prettier --write, vitest related --run

CI: skip real LFS photos on PR builds unless branch starts with lfs- (#276)
  .github/workflows/ci.yml
  scripts/replace-lfs-photo-placeholders.js
  scripts/replace-lfs-photo-placeholders.spec.ts
Due: prettier --write, vitest related --run

Group Checkly checks under "Tricity Hiking" in the UI
  __checks__/browser-checks.check.ts
  __checks__/route-page.spec.ts
  __checks__/routes-page.spec.ts
Due: prettier --write, vitest related --run

Group Checkly checks under "Tricity Hiking" in the UI (#279)
  __checks__/browser-checks.check.ts
  __checks__/route-page.spec.ts
  __checks__/routes-page.spec.ts
Due: prettier --write, vitest related --run

Replace article list icons with photos
  src/pages/blog/index.astro
Due: none

Replace article list icons with photos (#275)
  src/pages/blog/index.astro
Due: none

Use article list photo for "Continue Reading" recommendations
  src/components/RelatedArticles.astro
  src/pages/blog/index.astro
  src/services/getArticlePhoto.ts
Due: prettier --write, vitest related --run

Use article list photo for "Continue Reading" recommendations (#283)
  src/components/RelatedArticles.astro
  src/pages/blog/index.astro
  src/services/getArticlePhoto.ts
Due: prettier --write, vitest related --run

Add title header to non-homepage pages
  src/components/ui/PageTitle.astro
  src/pages/404.astro
  src/pages/blog/index.astro
  src/pages/day-trips.astro
  src/pages/food.astro
  src/pages/history/gdynia.astro
  src/pages/history/index.astro
  src/pages/history/sopot.astro
  src/pages/routes.astro
  src/pages/transportation.astro
Due: none

Shrink title header and add it to route/blog detail pages
  src/components/ui/PageTitle.astro
  src/pages/blog/[slug].astro
  src/pages/routes/[route].astro
Due: none
