Repository ertrzyiks/tricity-hiking: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, vitest related --run

.lintstagedrc.json:

{
  "*/**/*.{js,jsx,ts,tsx,json}": "prettier --write",
  "*.{js,jsx,ts,tsx}": "vitest related --run"
}

Describe gora markowca
  src/content/routes/dolina-radosci.mdx
  src/content/routes/dolina-strzyzy.mdx
  src/content/routes/elblag-bazantarnia-parasol.mdx
  src/content/routes/gora-markowca.mdx
  src/content/routes/wejherowo-kalwaria.mdx
Due: none

Highlight a few names
  src/content/routes/gora-markowca.mdx
Due: none

Update description
  src/content/routes/gora-markowca.mdx
Due: none

Update docs
  scripts/gpx-to-json.js
  src/content/geodata/wejherowo-kalwaria.json
  src/content/routes/gora-markowca.mdx
  src/content/routes/wejherowo-kalwaria.gpx
  src/content/routes/wejherowo-kalwaria.mdx
Due: prettier --write, vitest related --run

Sync names with json
  scripts/gpx-to-json.js
  src/content/geodata/dolina-strzyzy.json
  src/content/geodata/elblag-bazantarnia-parasol.json
  src/content/geodata/gora-markowca.json
  src/content/geodata/lesnik-opera.json
  src/content/geodata/sopot-wyscigi-to-kamienny-potok.json
  src/content/routes/dolina-elfow.gpx
Due: prettier --write, vitest related --run

Add logo
  src/assets/logo.png
  src/layouts/Layout.astro
Due: none

Add sharp
  package.json
  pnpm-lock.yaml
Due: none

Add manifest and icons
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/favicon.svg
  src/layouts/Layout.astro
Due: none

Update visual
  src/components/ListCardItem.astro
  src/components/ListCardItem/Food.astro
  src/components/ListCardItemAttribute.astro
  src/components/TrailAttributeName/TrailAttributeName.tsx
  src/components/TrailAttributeValue/TrailAttributeValue.tsx
  src/pages/activities.astro
  src/pages/food.astro
  src/pages/list.astro
Due: prettier --write, vitest related --run

Update favicon
  public/favicon.svg
Due: none

Describe dolina strzyzy
  src/content/routes/dolina-strzyzy.mdx
Due: none

Describe dolina radosci
  src/content/routes/dolina-radosci.mdx
Due: none

Describe dolina radości
  src/content/routes/dolina-radosci.mdx
Due: none

Add tooltips to map
  src/components/HomeMap/HomeMap.tsx
  src/styles/base.css
Due: prettier --write, vitest related --run

Update tooltip appearance
  src/styles/base.css
Due: none

Add page footer
  src/components/ListCardItem.astro
  src/components/ListCardItem/Food.astro
  src/components/NavLink.astro
  src/layouts/Layout.astro
  src/pages/activities.astro
  src/pages/food.astro
Due: none

Improve props
  src/components/TrailAttributeName/TrailAttributeName.tsx
  src/components/TrailAttributeValue/TrailAttributeValue.tsx
  src/pages/index.astro
  src/pages/list.astro
Due: prettier --write, vitest related --run

Extract route component
  src/components/ListCardItem.astro
  src/components/ListCardItem/Route.astro
  src/pages/index.astro
  src/pages/list.astro
  src/styles/base.css
Due: none

Optimize google font loading
  src/layouts/Layout.astro
Due: none

Eagerly load logo
  src/layouts/Layout.astro
Due: none

Prefetch map assets
  package.json
  scripts/capture-map-assets.js
  src/content/config.ts
  src/content/map-tiles/routes.json
  src/layouts/Layout.astro
Due: prettier --write, vitest related --run

Move analytics to body
  src/layouts/Layout.astro
Due: none

Prefetch more
  scripts/capture-map-assets.js
  src/components/ListCardItem/Route.astro
  src/content/map-tiles/routes.json
Due: prettier --write, vitest related --run

Sort assets
  scripts/capture-map-assets.js
  src/content/map-tiles/routes.json
Due: prettier --write, vitest related --run

Add wawoz huzarow
  src/assets/routes/wawoz-huzarow.jpg
  src/content/geodata/wawoz-huzarow.json
  src/content/routes/wawoz-huzarow.gpx
  src/content/routes/wawoz-huzarow.mdx
Due: prettier --write

Update favicon
  astro.config.mjs
  public/favicon.svg
  src/components/ListCardItem.astro
  src/content/geodata/wawoz-huzarow.json
  src/content/routes/wawoz-huzarow.gpx
  src/content/routes/wawoz-huzarow.mdx
  src/pages/index.astro
Due: prettier --write

Make icon not maskable
  astro.config.mjs
  src/layouts/Layout.astro
Due: none

Use astro image
  src/components/ListCardItem/Route.astro
Due: none

Replace piwik with statsig
  .env.development
  .env.production
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Analytics.astro
  src/components/CookieConsent/CookieConsent.astro
  src/components/CookieConsent/CookieConsentConfig.ts
  src/layouts/Layout.astro
Due: prettier --write, vitest related --run

Improve statsig include
  package.json
  pnpm-lock.yaml
  src/components/Analytics.astro
  src/components/CookieConsent/CookieConsent.astro
  src/components/CookieConsent/CookieConsentConfig.ts
Due: prettier --write, vitest related --run

Clean up the snippet
  src/components/Analytics.astro
Due: none

Fix ts issue
  src/components/Analytics.astro
Due: none

Update dev config
  .env.development
Due: none

Uninstall cookie astro plugin
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

Add _headers file
  public/_headers
Due: none

Update headers
  public/_headers
Due: none

Use longer cache
  public/_headers
Due: none

Simplify preloading
  scripts/capture-map-assets.js
  src/components/HomeMap/HomeMap.tsx
  src/content/map-tiles/routes.json
Due: prettier --write, vitest related --run

Stop gh pages deployment
  .github/workflows/ci.yml
Due: none

Describe wawoz huzarow
  src/content/routes/wawoz-huzarow.gpx
  src/content/routes/wawoz-huzarow.mdx
Due: none
